.profile-card {
    border-radius: 50%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    border: 5px solid #3498db;
    
}
div{
    background-color: aquamarine;
}
h1{
    background-color: white;
}
p{
    background-color: white;
}